<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Loop Winter Coat Store</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/shoppingCart.css">
</head>
<body>
<h1>Shopping Cart</h1>
<div class="navbar">
    <a href="/"> Home</a>
    <a href="store"> Store</a>
    <a class="active" href="shoppingCart"> Shopping Cart</a>
    <a href="raffle"> Raffle</a>
    <a href="storelookup"> Store Look Up</a>
</div>
<h2>Your Cart </h2>

<div class="CartInfo">
    <tr th:each="item: ${shoppingCartList}">
        <p>PurchaseID: <span th:text="${item.id}">PurchaseID</span></p>
        <p th:each="winterCoat: ${winterCoatList}"
        th:if="${winterCoat.id} == ${item.winterCoatId}" th:text="'Sneaker: ' + ${winterCoat.brand} + ', ' + ${winterCoat.name}
        + ', size:' + ${winterCoat.size} + ', $' + ${winterCoat.price}">
        </p>
        <p>Quantity: <span th:text="${item.quantity}">Quantity</span></p>
    </tr>
</div>




</body>
</html>