<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Loop Winter Coat Store</title>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/store.css">
    </head>
    <body>
        <h1>Store</h1>
        <div class="navbar">
            <a href="/"> Home</a>
            <a class="active" href="store"> Store</a>
            <a href="shoppingCart"> Shopping Cart</a>
            <a href="raffle"> Raffle</a>
            <a href="storelookup"> Store Look Up</a>
          </div>
        <h2></h2>

        <div>
            <img src="images/jehovaExports.jpg"></img>
            <form action="#" th:action="@{/store}" th:object="${shoppingCart}" method="post">
                <p>Jehova Exports</p>

                <select th:field="*{winterCoatId}" name="Size">
                    <option value="">Size</option>
                    <option th:value="${10}" value="Yee732849">9.5</option>
                    <option th:value="${10}" value="Yee732849">10</option>
                    <option th:value="${10}" value="Yee732849">11</option>
                </select>

                <select th:field="*{quantity}" name="Quantity">
                    <option value="">Quantity</option>
                    <option th:value="${1}" value="1">1</option>
                    <option th:value="${2}" value="2">2</option>
                    <option th:value="${3}" value="3">3</option>
                </select>

                <button type="addToCart" onclick="">Add to Cart</button>
            </form>

            <img src="images/navyBlue.jpg"></img>
            <form action="#" th:action="@{/store}" th:object="${shoppingCart}" method="post">
                <p>Navy Blue</p>

                <select th:field="*{winterCoatId}" name="Size">
                    <option value="">Size</option>
                    <option th:value="${11}" value="Tra105778">8</option>
                    <option th:value="${11}" value="Tra105778">9</option>
                    <option th:value="${11}" value="Tra105778">10</option>
                </select>

                <select th:field="*{quantity}" name="Quantity">
                    <option value="">Quantity</option>
                    <option th:value="${1}" value="1">1</option>
                    <option th:value="${2}" value="2">2</option>
                    <option th:value="${3}" value="3">3</option>
                </select>

                <button type="addToCart" onclick="">Add to Cart</button>
            </form>

            <img src="images/patagonia.jpg"></img>
            <form action="#" th:action="@{/store}" th:object="${shoppingCart}" method="post">
                <p>Patagonia</p>

                <select th:field="*{winterCoatId}" name="Size">
                    <option value="">Size</option>
                    <option th:value="${12}" value="Ywr700123">8</option>
                    <option th:value="${12}" value="Ywr700123">9.5</option>
                    <option th:value="${12}" value="Ywr700123">10</option>
                </select>

                <select th:field="*{quantity}" name="Quantity">
                    <option value="">Quantity</option>
                    <option th:value="${1}" value="1">1</option>
                    <option th:value="${2}" value="2">2</option>
                    <option th:value="${3}" value="3">3</option>
                </select>

                <button type="addToCart" onclick="">Add to Cart</button>
            </form>
        </div>

    </body>
</html>